<!DOCTYPE html>

<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
>
<head>
    <meta charset="UTF-8">
    <title>Main Feed</title>

</head>
<body >

<div th:fragment="pageFeed">
    <section th:each="user : ${users}">
        <div class="new-post">
            <h1 th:text ="${user.username}"></h1> <p th:text ="${user.location}"> Post</p>
            <span th:text="${user.email}"></span>
            <p>Content here</p>

        </div>


    </section>
</div>



</body>
</html>